<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card border-primary mb-3">
            <div class="card-header">
                Agregar Trailer
            </div>
            <div class="card-body">
                <form submit="editTrailer(course._id,name)" method=" POST ">
                    <div class="form-group ">
                        <input type="text " name="name " class="form-control " placeholder="Name " required autofocus #name>
                    </div>
                    <div class="form-group mt-3 ">
                        <textarea name="description " placeholder="Description " rows="2 " class="form-control "></textarea>
                        <!-- <input type="text " [(ngModel)]="course.description " name="description " class="form-control " placeholder="Description " required > -->
                    </div>
                    <div class="form-group mt-3 ">
                        <input type="text " name="category " class="form-control " placeholder="Category " required #name>
                    </div>
                    <div class="form-group mt-3 ">
                        <input type="text " name="director " class="form-control " placeholder="director " required>
                    </div>
                    <div class="form-group mt-3 ">
                        <input type="text " name="actors " class="form-control " placeholder="actors " required>
                    </div>
                    <div class="form-group mt-3 ">
                        <input type="text " name="year " class="form-control " placeholder="year " required>
                    </div>
                    <div class="form-group mt-3 ">
                        <input type="text " name="link " class="form-control " placeholder="link " required>
                    </div>
                    <div class="form-group mt-3 ">
                        <input type="text " name="image " class="form-control " placeholder="image " required>
                    </div>

                    <div class="form-group mt-3 ">
                        <button type="submit " class="btn btn-primary mt-3 container ">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4 mx-auto ">
        <div class="card border-warning mb-3 card-body ">

        </div>
    </div>
</div>