<div class="alert alert-dismissible alert-info">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <h4 class="alert-heading">Los mejores Trailers </h4>
    <p class="mb-0">Para ver una película o serie de televisión puedes usar el buscador en la parte inferior, te invitamos a compartir este genial sitio con tus amigos y familiares.</p>
</div>


<div class="row">
    <app-search (search)="handleSearch($event)" >
    </app-search>

    <div class="card ms-4 " style="width: 18rem; " *ngFor="let course of courses | search: Filtro_valor">

        <div class=" col-sm ">
            <div class="card-body ">

                <h1>Titulo: {{course.name}}</h1>

                <p class="card-text ">
                    <!--<img [src]=" 'http://localhost:3000/course' + course.image " class="img-card-top w-100 ">-->
                    <img [src]="course.year=='' ? '/assets/noimg.png' : course.year " class="card-img-top "> Categoria: {{course.category}}
                </p>
                <p class="card-text ">
                    Descripcion: {{course.description}}
                </p>

            </div>

            <div class="card-body ">
                <a [routerLink]="['/view',course._id]" class=" btn btn-primary mt-3 container " routerLinkActive="router-link-active" ass="btn btn-primary mt-3 container " style="cursor: pointer; ">Ver Trailer</a>
            </div>
        </div>
    </div>